#CreateUserComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-user-title {
    text-wrap: wrap;

}

.create-user-form {
    display: flex;
    flex-direction: column;
}

.mat-cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .resources-card {
        margin: 10px 0;
    }
}


.create-user-btn {
    margin: 10px 0;
}