<button mat-stroked-button [routerLink]="['/','admin','approve-users']">Back</button>
<div id="CreateUserComponent">
    <h1>Create User {{selectedUsername}}</h1>

    <form class="create-user-form" [formGroup]="createUserForm">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input type="text" matInput formControlName="username">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
        </mat-form-field>

        <div class="mat-cards-container">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Grouped Resources</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ng-container *ngFor="let resource of getGroupedResourcesFormArray().controls; let i = index">
                        <mat-card class="resources-card">
                            <mat-card-header>
                                <mat-card-title>{{i+1}}. {{resource.get('municipality')?.value}}</mat-card-title>
                                <mat-card-subtitle>{{resource.get('indicators')?.value}}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-actions>
                                <button (click)="removeGroupedResourcesFormGroup(i)" mat-stroked-button
                                    color="warn">Remove</button>
                            </mat-card-actions>
                        </mat-card>
                    </ng-container>
                    <form [formGroup]="createGroupedResourcesForm">
                        <mat-form-field>
                            <mat-label>Municipality</mat-label>
                            <input type="text" matInput formControlName="municipality">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Indicators</mat-label>
                            <input type="text" matInput formControlName="indicators">
                        </mat-form-field>
                    </form>
                </mat-card-content>
                <mat-card-actions>
                    <button (click)="addGroupedResourcesFormField()" mat-stroked-button color="primary">Add Grouped
                        Resource</button>
                </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Ungrouped Resources</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ng-container *ngFor="let resource of getUngroupedResourcesFormArray().controls; let i = index">

                        <mat-card class="resources-card">
                            <mat-card-header>
                                <mat-card-title>{{i+1}}. {{resource.get('municipality')?.value}}</mat-card-title>
                                <mat-card-subtitle>{{resource.get('indicators')?.value}}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-actions>
                                <button (click)="removeUngroupedResourcesFormGroup(i)" mat-stroked-button
                                    color="warn">Remove</button>
                            </mat-card-actions>
                        </mat-card>
                    </ng-container>
                    <form [formGroup]="createUngroupedResourcesForm">
                        <mat-form-field>
                            <mat-label>Municipality</mat-label>
                            <input type="text" matInput formControlName="municipality">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Indicators</mat-label>
                            <input type="text" matInput formControlName="indicators">
                        </mat-form-field>
                    </form>
                </mat-card-content>
                <mat-card-actions>
                    <button (click)="addUngroupedResourcesFormField()" mat-stroked-button color="primary">Add Ungrouped
                        Resource</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <button (click)="submitForm()" class="create-user-btn" mat-raised-button color="primary">Create User</button>
    </form>


</div>