#CreateUserComponent {
    display: flex;
    flex-direction: column;
}

.create-user-form {
    display: flex;
    flex-direction: column;
}

.mat-cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    fieldset {
        display: flex;
        flex-direction: column;
    }
}


.create-user-btn {
    margin: 10px 0;
}