#CreateUserComponent {
    display: flex;
    flex-direction: column;
}

.create-user-form {
    display: flex;
    flex-direction: column;
}

.grouped-resources-fieldset {
    display: flex;
    flex-direction: column;
}

.create-user-btn {
    margin: 10px 0;
}