#OtpComponent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.mat-card-container {
    width: clamp(300px, 60%, 500px);
}

.otp-form {
    margin-top: 15px;

    .otp-form-field {
        width: 100%;
    }
}

.footer-text {
    padding: 10px 15px;
    color: gray;
    cursor: default;

    .qrcode-link {
        text-decoration: underline;
        cursor: pointer;
    }
}

.mat-card-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
        width: 95%;
    }
}