<header class="header">
    <div *ngIf="userIsLoggedIn" class="menu-icon-container" (click)="sidenav.toggle()">
        <mat-icon class="menu-icon" fontIcon="menu"></mat-icon>
    </div>
    <h1>Alpine</h1>
</header>
<mat-sidenav-container class="container" hasBackdrop="true">
    <mat-sidenav #sidenav mode="side" class="sidenav" [opened]="userIsLoggedIn">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Main
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item [routerLink]="['dashboard','home']">Home</a>
                </mat-nav-list>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Resources
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item [routerLink]="['dashboard','home']">Municipalities</a>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>