.RequestAccountComponent {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.invalid-email-hint {
    color: red;
}

.mat-stepper {
    width: 500px;

}

.mat-stepper-vertical {
    margin-top: 8px;
}

.mat-mdc-form-field {
    margin-top: 16px;
}

.textarea-form-field {
    width: 100%;
}