<button mat-stroked-button [routerLink]="['/','login']">Back to Login</button>
<div class="RequestAccountComponent">
    <h1>Request Account</h1>
    <mat-stepper class="mat-stepper" orientation="vertical" linear="true" #stepper>
        <mat-step [stepControl]="usernameFormGroup">
            <form [formGroup]="usernameFormGroup">
                <ng-template matStepLabel>Fill out your username</ng-template>
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input #emailInput matInput formControlName="username">
                    <mat-error class="invalid-email-hint">
                        Username is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="passwordFormGroup">
            <form [formGroup]="passwordFormGroup">
                <ng-template matStepLabel>Choose a <strong>strong</strong> password</ng-template>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <mat-error class="invalid-email-hint">Password must have <strong>at least 8 characters</strong>,
                        <strong>1 capital letter</strong>, <strong>
                            1
                            number
                        </strong> and <strong>1 special character</strong>.
                    </mat-error>

                    <input type="password" matInput formControlName="password">
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="confirmPasswordFormGroup">
            <form [formGroup]="confirmPasswordFormGroup">
                <ng-template matStepLabel>Confirm your password again</ng-template>
                <mat-form-field>
                    <mat-label>Confirm password</mat-label>
                    <input type="password" matInput formControlName="confirmPassword">
                    <mat-hint *ngIf="this.confirmPasswordFormGroup.get('confirmPassword')?.dirty"
                        [class.passwords-match]="checkIfPasswordsMatch()"
                        [class.passwords-do-not-match]="!checkIfPasswordsMatch()">
                        {{checkIfPasswordsMatch()? 'Passwords matched!':'Passwords do not match!'}}
                    </mat-hint>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext [disabled]="!checkIfPasswordsMatch()">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <div>
                <h2>Username</h2>
                <p>{{usernameFormGroup.value.username}}</p>
            </div>
            <div>
                <h2>Password</h2>
                <p>{{'*'.repeat(this.passwordFormGroup.value.password!.length)}}</p>
            </div>
            <div>
                <!-- Buttons are disabled when progress bar is shown, because there is an ongoing HTTP call -->
                <button [disabled]="showProgressBar" mat-button matStepperPrevious>Back</button>
                <button [disabled]="showProgressBar" mat-button (click)="submitForm()">Submit</button>
            </div>
        </mat-step>
    </mat-stepper>

    <mat-progress-bar mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>
</div>