<div id="LoginComponent">
    <form class="login-form" [formGroup]="loginForm">
        <h1 class="sign-in-title">Sign In</h1>
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" />
        </mat-form-field>
        <div class="action-btns-container">
            <button (click)="login()" mat-raised-button color="primary">Log In</button>
            <!-- <div class="form-footer-text">Don't have an account? <br>Request an account <a
                    [routerLink]="['/','request-account']">here.</a></div> -->
            <button mat-button [routerLink]="['/','request-account']">Request an account</button>
            <button mat-button [routerLink]="['/','verify-email']">Verify Email</button>
        </div>
    </form>
</div>