<div id="LoginComponent">
    <form class="login-form" [formGroup]="loginForm">
        <h1 class="sign-in-title">Sign In</h1>
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
            <mat-error>Username is <strong>required</strong></mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" />
            <mat-error>Password is <strong>required</strong></mat-error>
        </mat-form-field>
        <div class="action-btns-container">
            <button (click)="login()" mat-raised-button color="primary">Log In</button>
            <button mat-stroked-button [matMenuTriggerFor]="menu">Other options</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['/','request-account']">
                    <mat-icon>lightbulb_outline</mat-icon>
                    Request an account
                </button>
                <button mat-menu-item [routerLink]="['/','verify-email']">
                    <mat-icon>check_circle_outline</mat-icon>
                    Verify Email
                </button>
            </mat-menu>
        </div>
    </form>
</div>