<div id="ApproveUsersComponent">
    <h1>Approve Users</h1>
    <mat-paginator [pageSizeOptions]="[5,10,20]"></mat-paginator>
    <table mat-table *ngIf="dataSource.data.length > 0" [dataSource]="dataSource">
        <ng-container *ngFor="let columnName of columnNamesToDisplay" [matColumnDef]="columnName">
            <ng-container *ngIf="columnName !=='actions'; else actionsColumn">
                <th mat-header-cell class="vertical-divider" *matHeaderCellDef>{{columnName}}</th>
                <td mat-cell class="vertical-divider" *matCellDef="let element">
                    <span
                        [matBadgeHidden]="(columnName !== 'username' && !element['is_verified']|| element['is_verified'])"
                        matBadge="!" matBadgePosition="above before" matBadgeSize="small" matBadgeColor="warn">
                    </span>
                    <span matTooltip="user has not verified their email"
                        [matTooltipDisabled]="columnName !== 'username' || element['is_verified']"
                        [ngClass]="{'cell-with-badge': columnName === 'username' && !element['is_verified']}">
                        {{element[columnName]}}
                    </span>
                </td>
                <mat-divider></mat-divider>
            </ng-container>
            <ng-template #actionsColumn>
                <th mat-header-cell class="vertical-divider" *matHeaderCellDef>{{columnName}}</th>
                <td mat-cell class="vertical-divider" *matCellDef="let element">
                    <button mat-button [disabled]="element['is_verified'] === 'N/A'" color="primary"
                        matTooltip="Approve user and assign resources"
                        [routerLink]="['/','admin','create-user',element['username']]">Inspect</button>
                    <button [disabled]="element['is_verified'] === 'N/A'"
                        (click)="rejectUserAccountRequest(element['username'])" mat-button color="warn"
                        matTooltip="Reject user and delete this account request">Reject</button>
                </td>
                <mat-divider></mat-divider>
            </ng-template>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnNamesToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnNamesToDisplay;">
    </table>

</div>