th {
    text-align: center
}

.cell-with-badge {
    position: relative;
    top: 6px;
}

.list-item {
    display: flex;
    justify-content: space-between;
}

/* Add this to your component's CSS */
.vertical-divider {
    border-right: 1px solid #e0e0e0;
    /* Your preferred color for the divider */
}

.mat-column-actions {
    width: 15% !important;
}