<div id="HomeComponent">
    <mat-card class="municipality-card" *ngFor="let municipality of userMunicipalities">
        <mat-card-header>
            <mat-card-title>{{municipality | capitalizeFirstLetter}}</mat-card-title>
            <mat-card-subtitle>Description</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-stroked-button color="primary" [routerLink]="['/','dashboard','details',municipality]">
                Details
            </button>
        </mat-card-actions>
    </mat-card>
</div>